.book-details {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.book-details img {
  border-radius: 5px;
}

.book-info {
  padding: 30px;
  background-color: #dddddd;
  border-radius: 15px;
}

.book-info a {
  text-decoration: none;
  margin-right: 10px;
}

.book-info button {
  margin: 10px 10px 10px 0;
}

.book-description {
  text-align: justify;
}

.checked {
  color: orange;
}

#admin-panel {
  margin: 0;
}